<div class="container-fluid">
  <nav class="navbar navbar-expand-lg  navbar-dark fixed-top">

    <div class="container-fluid" >


      <a class="navbar-brand" routerLink="/Home"  style="font-family:'Baskerville Old Face'">
        <img width="40" src=Logo_rotondo.png alt="Logo" >


      </a>



      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Home"   routerLinkActive="active">Home</a>
          </li>

          <li class="nav-item dropdown" (click)="$event.stopPropagation()">
            <a class="nav-link d-inline-flex align-items-center active freccia" routerLink="/Stack"   routerLinkActive="active">
              Stack
            </a>

            <!-- Freccetta come bottone, stilizzato -->
            <button
              type="button"
              class="dropdown-toggle-btn arrow"
              aria-expanded="false"
              data-bs-toggle="dropdown"
              >
              ▼
            </button>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)="goToStackSection('frontend')">Frontend</a></li>
                <li><a class="dropdown-item" (click)="goToStackSection('backend')">Backend</a></li>
                <li><a class="dropdown-item" (click)="goToStackSection('database')">Database</a></li>
                <li><a class="dropdown-item" (click)="goToStackSection('progetti')">Progetti</a></li>
              </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Skill"   routerLinkActive="active">Skill</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Lezioni"   routerLinkActive="active">Lezioni</a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link active"
              href="/Curriculum_Vasile.pdf"
              download
            >
              Scarica CV
            </a>
          </li>



<!--          <li><a routerLink="/knowledge">Knowledge</a></li>-->
<!--          <li><a routerLink="/code">Code</a></li>-->
        </ul>
      </div>
    </div>
  </nav>
</div>

<br> <br> <br>

