
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 40px; // per un distacco leggero
  text-align: center;

  background-color: #000; // sfondo nero
  color: #f2f2f2; // testo bianco-grigio chiaro
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #ffffff;
}

.hero-section p {
  font-size: 1.2rem;
  //margin-bottom: 1.5rem;
  color: #cccccc;
}

.cta-link {
  font-size: 1rem;
  color: #c49b0f;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease;

  &:hover {
    border-bottom: 1px solid #c49b0f;
    color: #d4af37;
  }
}
